<nz-modal [(nzVisible)]="isVisible" [nzFooter]="modalFooter" nzTitle="{{'Do you want to log out of the current user?' | translate}}" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()"nzWidth="60%">
  <div>
    <nz-descriptions nzBordered>
      <nz-descriptions-item nzTitle="username">{{user.username}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="nickname">{{user.nickname}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="{{'ID' | translate}}">{{user.id}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="{{'Role' | translate}}"><span *ngIf="user.is_admin">{{'Admin' | translate}}</span><span *ngIf="!user.is_admin">{{'General' | translate}}</span></nz-descriptions-item>
      <nz-descriptions-item nzTitle="{{'Email' | translate}}"><a href="mailto:{{user.email}}">{{user.email}}</a></nz-descriptions-item>
      <nz-descriptions-item nzTitle="{{'Phone' | translate}}">{{user.phone}}</nz-descriptions-item>
    </nz-descriptions>
  </div>
  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">{{'Cancel' | translate}}</button>
    <button nz-button nzType="danger" (click)="handleOk()">{{'Exit' | translate}}</button>
  </ng-template>
</nz-modal>
