<ul nz-menu nzMode="horizontal" style="width: 100%;">
  <li nz-menu-item>
    <a href="https://koala.mkzilla.com/" target="_blank">
      <strong style="margin-left: 15px;font-size: large;">koala</strong>
    </a>
  </li>
  <li nz-menu-item style="float: right;">{{'Donate' | translate}}</li>
  <li nz-menu-item style="float: right;">{{'FAQ' | translate}}</li>
  <li nz-menu-item style="float: right;">{{'Manual' | translate}}</li>
  <li nz-menu-item style="float: right;">{{'About' | translate}}</li>
</ul>
<div class="container">
  <p><strong style="font-size: xx-large;color: black;">koala v{{version}}</strong></p>
  <p style="text-align: center;"><strong>{{'Serving High-Performance People' | translate}}</strong></p>
  <form *ngIf="config.enablePassword" nz-form [formGroup]="basicLogin" class="login-form" (ngSubmit)="onLogin()">
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your username!">
        <nz-input-group nzPrefixIcon="user">
          <input type="text" nz-input formControlName="username" placeholder="Username" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your Password!">
        <nz-input-group nzPrefixIcon="lock">
          <input type="password" nz-input formControlName="password" placeholder="Password" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button nz-button class="login-form-button" [nzType]="'primary'">{{'Login' | translate}}</button>
        <a *ngIf="config.enableRegister" class="login-form-forgot" class="login-form-forgot" routerLink="/register">{{'Trust koala and register' | translate}}</a>
      </nz-form-control>
    </nz-form-item>
  </form>
  <nz-form-control>
    <button class="login-form-button" *ngIf="config.enableGithub" nz-button (click)="onOAuth('github')" [nzType]="'primary'">
      <i nz-icon nzType="github" nzTheme="outline"></i>{{'Login via Github' | translate}}
    </button>
  </nz-form-control>
  <nz-form-control>
    <button class="login-form-button" *ngIf="config.enableBasicOAuthV2" nz-button (click)="onOAuth('basic')" [nzType]="'primary'">
      <i nz-icon nzType="login" nzTheme="outline"></i>{{'Login via OAuth 2.0'}}
    </button>
  </nz-form-control>
</div>
<div class="background"></div>
<nz-footer>
  DESIGN BY MKZILLA © 2020
  <iframe style="margin-left: 2px; margin-bottom:-5px;" frameborder="0" scrolling="0" width="91px" height="20px"
          src="https://ghbtns.com/github-btn.html?user=mkzilla&repo=koala&type=star&count=true">
  </iframe>
</nz-footer>


