<nz-modal [(nzVisible)]="createObj || editObj" nzTitle="{{'New(Edit) Objective' | translate}}" (nzOnCancel)="handleCancel()" (nzOnOk)="handleConfirmCreateObj()" nzWidth="75%">
  <nz-input-group [nzSuffix]="suffixTemplate" style="margin-bottom: 10px;">
    <input type="text" nz-input [(ngModel)]="objective.title" placeholder="{{'Please describe the title of the objective concisely' | translate }}" />
  </nz-input-group>
  <div style="margin-bottom: 10px;">
    <strong>{{'Summary'| translate}}</strong>
  </div>
  <ng-template #suffixTemplate>
    <i
      nz-icon
      nz-tooltip
      class="ant-input-clear-icon"
      nzTheme="fill"
      nzType="close-circle"
      *ngIf="objective.title"
      (click)="objective.title = ''"
    ></i>
  </ng-template>
  <quill-editor [(ngModel)]="objective.desc" placeholder="{{'The Summary is not used to describe key results, but to supplement details beyond the title' | translate}}" format="html" theme="snow" [styles]="{height: '50px'}">
    <div quill-editor-toolbar>
      <span class="ql-formats">
        <button class="ql-bold"></button>
        <button class="ql-italic"></button>
        <button class="ql-underline"></button>
        <button class="ql-strike"></button>
      </span>
      <span class="ql-formats">
        <select class="ql-color"></select>
        <select class="ql-background"></select>
      </span>
      <span class="ql-formats">
        <button class="ql-list" value="ordered"></button>
        <button class="ql-list" value="bullet"></button>
        <select class="ql-align">
          <option selected></option>
          <option value="center"></option>
          <option value="right"></option>
          <option value="justify"></option>
        </select>
      </span>
      <span class="ql-formats">
        <button class="ql-link"></button>
      </span>
    </div>
  </quill-editor>
  <div style="margin-bottom: 10px;margin-top: 10px;">
    <strong>关键结果</strong>
  </div>
  <quill-editor [(ngModel)]="objective.keyResults" placeholder="{{'Please accurately describe the key results of the objective' | translate}}" format="html" theme="snow" [styles]="{height: '150px'}">
    <div quill-editor-toolbar>
      <span class="ql-formats">
        <select class="ql-font"></select>
        <select class="ql-size"></select>
      </span>
      <span class="ql-formats">
        <button class="ql-bold"></button>
        <button class="ql-italic"></button>
        <button class="ql-underline"></button>
        <button class="ql-strike"></button>
      </span>
      <span class="ql-formats">
        <select class="ql-color"></select>
        <select class="ql-background"></select>
      </span>
      <span class="ql-formats">
        <button class="ql-script" value="sub"></button>
        <button class="ql-script" value="super"></button>
      </span>
      <span class="ql-formats">
        <button class="ql-header" value="1"></button>
        <button class="ql-header" value="2"></button>
        <button class="ql-blockquote"></button>
        <button class="ql-code-block"></button>
      </span>
      <span class="ql-formats">
        <button class="ql-list" value="ordered"></button>
        <button class="ql-list" value="bullet"></button>
        <button class="ql-indent" value="-1"></button>
        <button class="ql-indent" value="+1"></button>
      </span>
      <span class="ql-formats">
        <button class="ql-direction" value="rtl"></button>
        <select class="ql-align"></select>
      </span>
      <span class="ql-formats">
        <button class="ql-link"></button>
        <button class="ql-video"></button>
        <button class="ql-formula"></button>
      </span>
      <span class="ql-formats">
        <button class="ql-clean"></button>
      </span>
    </div>
  </quill-editor>
  <div>
    <strong style="margin-right:30px;margin-top: 10px;">{{'Degree of completion' | translate}}</strong>
    <nz-rate [(ngModel)]="objective.score"></nz-rate>
  </div>
  <div style="margin-top: 10px;">
    <strong style="margin-right:30px;">{{'Starting time' | translate}}</strong>
    <nz-date-picker [(ngModel)]="objective.start"></nz-date-picker>
  </div>
  <div style="margin-top: 10px;">
    <strong style="margin-right:30px;">{{'Deadline' | translate}}</strong>
    <nz-date-picker [(ngModel)]="objective.end"></nz-date-picker>
  </div>
</nz-modal>
