.inner-content {
  padding: 24px;
  background: #fff;
  width: 100%;
  float: left;
}

.left-content {
  padding: 24px;
  background: #fff;
  width: 70%;
  float: left;
}

.right-content {
  padding: 24px;
  background: #fff;
  height: 100%;
  width: 29%;
  float: right;
}
