<div class="container">
  <p><strong style="font-size: large;">{{'Welcome to register koala!' | translate}}</strong></p>
  <p style="text-align: center;"><strong style="color: darkblue;">{{'Serving High-Performance People' | translate}}</strong></p>
  <div *ngIf="!username">
    <nz-input-group [nzSuffix]="suffixTemplateInfo" [nzPrefix]="prefixTemplateEmail">
      <input type="text" nz-input placeholder="{{'Please enter your email' | translate}}" [(ngModel)]="user.email" />
    </nz-input-group>
    <ng-template #prefixTemplateEmail><i nz-icon nzType="mail"></i></ng-template>
    <ng-template #suffixTemplateInfo><i nz-icon nz-tooltip nzTitle="{{'Please use a common mailbox operated in Mainland China' | translate}}" nzType="info-circle"></i></ng-template>
    <br /><br />
    <button class="login-form-button" nz-button (click)="onRegister()" [nzType]="'primary'">
      <i nz-icon nzType="pull-request" nzTheme="outline"></i>{{'Apply for registration' | translate}}
    </button>
  </div>
  <div *ngIf="username">
    <p><strong>{{username}},{{'please set a password to log in to koala'| translate }}</strong></p>
    <nz-input-group [nzSuffix]="suffixTemplate">
      <input [type]="passwordVisible ? 'text' : 'password'" nz-input
        placeholder="{{'Please enter your password' | translate}}"
        [(ngModel)]="user.password"
      />
    </nz-input-group>
    <br /><br />
    <nz-input-group [nzSuffix]="suffixTemplate">
      <input [type]="passwordVisible ? 'text' : 'password'" nz-input
             placeholder="{{'Please enter your password again' | translate}}"
             [(ngModel)]="password"
      />
    </nz-input-group>
    <ng-template #suffixTemplate>
      <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible"></i>
    </ng-template>
    <br /><br />
    <button class="login-form-button" nz-button (click)="onPassword()" [nzType]="'primary'">
      <i nz-icon nzType="safety" nzTheme="outline"></i>{{'Confirm Password' | translate}}
    </button>
  </div>
</div>
<div class="background"></div>


