<nz-alert
  *ngIf="tasks.length < 10"
  nzType="success"
  nzMessage="在 koala，很高兴遇见你！"
  [nzDescription]="HowToUserIt"
  nzShowIcon
>
  <ng-template #HowToUserIt>
    <article nz-typography>
      <p>
        全世界有超过 10 亿个网站(2019 年数据)，很高兴你能光顾 mkzilla koala！在 koala，你可以管理自己的工作和学习目标，制定
        短期和中长期的工作计划。我们帮助你实现了各种各样的控件，以提供更清晰、更明确、更科学的任务管理体验。
        在本站的头部，会永远存在着一个"创建任务"的按钮，你可以点击尝试创建你的第一个任务。在创建任务的窗口中，除了
        <strong>标题</strong>和<strong>任务详情</strong>
        之外，我们引入了<strong>任务状态选择器</strong>和<strong>"重要紧急四象限"</strong>。
      </p>
      <p>
        重要紧急四象限你应该不陌生吧？前美国总统艾森豪威尔曾有一句有意思的话：
      </p>
      <p>
        <span nz-text><strong>我有两类问题，紧急的和重要的。紧急的都不重要，而重要的从来都不紧急。</strong></span>
      </p>
      <p>
        在传统的观点中，我们每天做的事情分为以下四类：
      </p>
      <article nz-typography>
        <ul>
          <li>重要且紧急</li>
          <li>重要不紧急</li>
          <li>不重要紧急</li>
          <li>不重要不紧急</li>
        </ul>
      </article>
      <p>
        糟糕低效的工作学习生涯往往被大量紧急的事情填充，这些紧急的事情越重要，带来的负面影响越大。高效能的工作学习往往每天大部分时间
        都在从事重要且不紧急的事情，这样的做事效率会更高、质量更好。
      </p>
      <p>
        我们希望你能够在 koala 有条不紊计划自己的工作和学习，这样可以逐渐让自己
        在大部分时候都在做重要且不紧急的事情，这样也会激发你的成就感！你可以试试看！
      </p>

      <h4 nz-title>关于 OKR 工作法</h4>
      <p nz-paragraph>
        在创建任务的窗口中，没有明确需要指定任务的开始时间和完成截止时间。因为我们在实践中发现，这些任务的工作周期，
        从短短几个小时，到需要长达几周去完成的都有。而且伴随任务的开展，会发现自己事先过于乐观或者悲观地评估了工期。
        因此，在我们看来，对于任务，只有"重要紧急四象限"是容易判断的， 且我们给出的任务状态，可以帮助你很好的构建工作序列流水线。
      </p>
      <p nz-paragraph>
        出于管理中长期规划的考量，我们引入了在湾区很流行的 OKR 工作法。OKR 的中文意思是：目标关键结果。在一个周期内，你需要制定几个可
        衡量的目标，每个目标需要指定有限的目标量化完成的关键结果。在周期内，你的目标都会在 koala 的首页右侧，便于你 review 和调整自己
        的工作。
      </p>
      <p nz-paragraph>
        在使用 OKR 的时候，你需要注意一下几点：
      </p>
      <article nz-typography>
        <ul>
          <li>目标一定是可衡量的。例如："持续开发 koala" 不能算是一个目标，因为不可衡量，而"完成 koala 所有与任务有关的基础功能的开发"
            可以算做一个任务。
          </li>
          <li>任务一定要有挑战性。不要去树立一些板上钉钉、可以轻易达到的目标，而应该树立一些有 50% 到 80% 的把握达成的目标，
            这样才能推动你有所突破。
          </li>
          <li>当发现 OKR 无法在周期内达成的时候，不要中途调整。努力去做到最好，未完成并不代表着失败。
          </li>
        </ul>
      </article>
      <nz-divider></nz-divider>
      <h4 nz-title>团队使用指南</h4>
      <p nz-paragraph>
        koala 对个人用户完全免费开放，对企业用户没有软件层收费的计划，但是禁止使用 koala 直接对外提供商业服务。
      </p>
      <p nz-paragraph>
        在团队中，如果想要共享任务和目标管理体系，各部门负责人需要创建一个小组，并且邀请所有的组成员加入到组中，组成员对邀请信息确认即可。
      </p>
      <p nz-paragraph>
        针对团队使用，我们提供了周报系统，每个自然周，都可以汇总周内组各个成员的工作情况， 周报梳理数据来源于各个成员对于各个任务的
        进展的跟进更新。
      </p>
    </article>
  </ng-template>
</nz-alert>

<nz-list>
    <nz-list-item *ngFor="let item of tasks">
      <nz-list-item-meta [nzTitle]="nzTitle" [nzDescription]="nzDescription">
        <ng-template #nzTitle>
          <a routerLink="/homepage/{{item.task_log.username}}">{{ item.nickname }}</a>  对 <a>{{ item.task_log.to_username }}</a>
          <a routerLink="/task/{{item.task_log.task_id}}"> {{ item.title }}</a> {{ item.task_log.behavior }}
          <i style="float: right;">{{item.task_log.create_time | relativeTime}}</i>
        </ng-template>
        <ng-template #nzDescription>
          <nz-tag [nzColor]="'#3D59AB'" *ngIf="item.importance == 1">不重要</nz-tag>
          <nz-tag [nzColor]="'#33A1C9'" *ngIf="item.importance == 2">一般重要</nz-tag>
          <nz-tag [nzColor]="'#03A89E'" *ngIf="item.importance == 3">重要</nz-tag>
          <nz-tag [nzColor]="'#00C78C'" *ngIf="item.importance == 4">很重要</nz-tag>
          <nz-tag [nzColor]="'#1E90FF'" *ngIf="item.importance == 5">极其重要</nz-tag>

          <nz-tag [nzColor]="'#DDA0DD'" *ngIf="item.priority == 1">不紧急</nz-tag>
          <nz-tag [nzColor]="'#DA70D6'" *ngIf="item.priority == 2">一般紧急</nz-tag>
          <nz-tag [nzColor]="'#A066D3'" *ngIf="item.priority == 3">紧急</nz-tag>
          <nz-tag [nzColor]="'#8A2BE2'" *ngIf="item.priority == 4">很紧急</nz-tag>
          <nz-tag [nzColor]="'#9933FA'" *ngIf="item.priority == 5">极其紧急</nz-tag>

          <nz-tag [nzColor]="'#FFB6C1'" *ngIf="item.state == '0'">没有进展</nz-tag>
          <nz-tag [nzColor]="'#FFD700'" *ngIf="item.state == '1'">即将开始</nz-tag>
          <nz-tag [nzColor]="'#32CD32'" *ngIf="item.state == '2'">进行中</nz-tag>
          <nz-tag [nzColor]="'#228B22'" *ngIf="item.state == '3'">完成</nz-tag>
          <nz-tag [nzColor]="'#E3170D'" *ngIf="item.state == '4'">取消</nz-tag>
          <nz-tag [nzColor]="'#FFD71f'" *ngIf="item.state == '5'">暂停</nz-tag>
        </ng-template>
      </nz-list-item-meta>
    </nz-list-item>
</nz-list>
<br>
<a *ngIf="hasMore" nz-card (click)="pageNumber = pageNumber + 1;search();">
  <h2 style="text-align: center;">加载更多</h2>
</a>
