<nz-modal [(nzVisible)]="isVisible" nzTitle="添加{{comment.type}}" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <quill-editor [(ngModel)]="comment.info" format="html" theme="snow" [styles]="{height: '100px'}" placeholder="{{'Please provide a concise description of your work or your idea on this task' | translate}}">
    <div quill-editor-toolbar>
      <span class="ql-formats">
        <button class="ql-bold"></button>
        <button class="ql-italic"></button>
        <button class="ql-underline"></button>
        <button class="ql-strike"></button>
      </span>
      <span class="ql-formats">
        <select class="ql-color"></select>
        <select class="ql-background"></select>
      </span>
      <span class="ql-formats">
        <button class="ql-list" value="ordered"></button>
        <button class="ql-list" value="bullet"></button>
        <select class="ql-align">
          <option selected></option>
          <option value="center"></option>
          <option value="right"></option>
          <option value="justify"></option>
        </select>
      </span>
      <span class="ql-formats">
        <button class="ql-link"></button>
      </span>
    </div>
  </quill-editor>
</nz-modal>
