<nz-page-header [nzGhost]="true">
  <nz-page-header-title>
    <button nz-button nzType="primary" (click)="createObjective()" *ngIf="user.username === username">创建个人OKR</button>
  </nz-page-header-title>
  <nz-page-header-subtitle></nz-page-header-subtitle>
  <nz-page-header-extra>
    <button nz-button nzType="primary" (click)="changePage(-1)"><i nz-icon nzType="left"></i>前一页</button>
    <button nz-button nzType="primary" (click)="changePage(1)">后一页<i nz-icon nzType="right"></i></button>
  </nz-page-header-extra>
</nz-page-header>
<nz-alert
  nzType="info"
  nzMessage="什么是 OKR ?"
  nzDescription="O 表示目标（Objective），KR 表示关键结果（Key Results），目标就是指你想做什么事情，关键结果就是指如何确认你做到了那件事。详细细节可参考《OKR工作法》或者 mkzilla koala 文档。注意：一个人同时推荐最多开展3个目标，每个目标至少设置两个关键结果，目标的周期应该设置为3个月、半年或者一年，定期 review，便于自身提升。"
  nzShowIcon
>
</nz-alert>
<div nz-row [nzGutter]="8">
  <div nz-col [nzSpan]="20" style="margin-top:10px;" *ngFor="let okr of okrs">
    <nz-card [nzTitle]="okr.title" [nzExtra]="editTemplate">
      <div>
        <strong style="margin-right:30px;">完成度</strong>
        <nz-rate [ngModel]="okr.score" nzDisabled></nz-rate>
      </div>
      <br><quill-view [content]="okr.desc" format="text" theme="snow"></quill-view><br>
      <strong style="margin-right:30px;">关键结果</strong>
      <quill-view [content]="okr.keyResults" format="text" theme="snow"></quill-view>
      <div>
        <nz-tag [nzColor]="'#87d068'">{{okr.start}}</nz-tag>
        <nz-tag [nzColor]="'#f50'">{{okr.end}}</nz-tag>
      </div>
    </nz-card>
    <ng-template #editTemplate>
      <a (click)="editObjective(okr);">编辑</a>
    </ng-template>
  </div>
</div>
<app-create-edit-okr (refresh)="search()"></app-create-edit-okr>
