<nz-card style="width: 100%;">
  <div nz-row [nzGutter]="8">
    <div nz-col [nzSpan]="4" style="margin-top:10px;">
      <button nz-button nzType="primary" nzSize="large" (click)="createGroup.showModal()"><i nz-icon nzType="usergroup-add"></i>{{'New group' | translate}}</button>
    </div>
    <div nz-col [nzSpan]="12" style="margin-top:10px;">
      <nz-button-group nzSize="large">
        <button nz-button nzType="primary" (click)="pageChange(-1)"><i nz-icon nzType="left"></i>{{'Previous' | translate}}</button>
        <button nz-button nzType="primary" (click)="pageChange(1)">{{'Next' | translate}}<i nz-icon nzType="right"></i></button>
      </nz-button-group>
    </div>
    <div nz-col [nzSpan]="8" style="margin-top:10px;">
      <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
        <input type="text" nz-input placeholder="{{'please input the group name' | translate}}" [(ngModel)]="name" (change)="search()"/>
      </nz-input-group>
      <ng-template #suffixButton>
        <button nz-button nzType="primary" nzSize="large" nzSearch (click)="search()">{{'Search' | translate}}</button>
      </ng-template>
    </div>
  </div>
  <br>
  <nz-alert
    nzType="warning"
    nzMessage="{{'Privacy policy' | translate}}"
    nzDescription="{{'mkzilla koala focuses on protecting the privacy of users. Individual users\' task data is only shared with team members. If you don\'t want to share your work and study plans with others, be careful not to join any group. If you want to leave the group, click View User Action.' | translate}}"
    nzShowIcon
  >
  </nz-alert>
  <br>
  <nz-table [nzData]="groups" [nzFrontPagination]="false" [nzShowPagination]="false">
    <thead>
    <tr>
      <th>{{'ID' | translate}}</th>
      <th>{{'username' | translate}}</th>
      <th>{{'description' | translate}}</th>
      <th>{{'admin' | translate}}</th>
      <th>{{'action' | translate}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let group of groups">
      <td>{{ group.id }}</td>
      <td><a routerLink="/work-group/{{group.id}}">{{ group.name }}</a></td>
      <td>{{ group.desc }}</td>
      <td>{{ group.admin }}</td>
      <td>
        <a (click)="listUsers.showModal(group)">{{'view users' | translate}}</a>
      </td>
    </tr>
    </tbody>
  </nz-table>
  <br>
  <nz-divider nzText="{{'Invite to join' | translate}}"></nz-divider>
  <nz-table [nzData]="forcheck" [nzFrontPagination]="false" [nzShowPagination]="false">
    <thead>
    <tr>
      <th>{{'ID' | translate}}</th>
      <th>{{'username' | translate}}</th>
      <th>{{'description' | translate}}</th>
      <th>{{'admin' | translate}}</th>
      <th>{{'action' | translate}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let group of forcheck">
      <td>{{ group.id }}</td>
      <td>{{ group.name }}</td>
      <td>{{ group.desc }}</td>
      <td>{{ group.admin }}</td>
      <td>
        <a nz-button nzType="link" (click)="checkin(group)">{{'join' | translate}}</a>
        <a nz-button nzType="link" (click)="ignore(group)">{{'ignore' | translate}}</a>
      </td>
    </tr>
    </tbody>
  </nz-table>
</nz-card>
<app-create-group (refresh)="search()"></app-create-group>
<app-list-users></app-list-users>
