<nz-card style="width: 100%;">
  <div nz-row [nzGutter]="8">
    <div nz-col [nzSpan]="4" style="margin-top:10px;">
      <button nz-button nzType="primary" nzSize="large" (click)="createGroup.showModal()"><i nz-icon nzType="usergroup-add"></i>创建组</button>
    </div>
    <div nz-col [nzSpan]="12" style="margin-top:10px;">
      <nz-button-group nzSize="large">
        <button nz-button nzType="primary" (click)="pageChange(-1)"><i nz-icon nzType="left"></i>上一页</button>
        <button nz-button nzType="primary" (click)="pageChange(1)">下一页<i nz-icon nzType="right"></i></button>
      </nz-button-group>
    </div>
    <div nz-col [nzSpan]="8" style="margin-top:10px;">
      <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
        <input type="text" nz-input placeholder="input search group name" [(ngModel)]="name" (change)="search()"/>
      </nz-input-group>
      <ng-template #suffixButton>
        <button nz-button nzType="primary" nzSize="large" nzSearch (click)="search()">Search</button>
      </ng-template>
    </div>
  </div>
  <br>
  <nz-alert
    nzType="warning"
    nzMessage="隐私权"
    nzDescription="mkzilla koala 注重用户隐私，个人用户的任务数据只和小组成员共享。如果不想和其他人分享的自己的工作和学习计划，注意不要加入任何小组。如果你想退出小组，点击查看用户操作即可。"
    nzShowIcon
  >
  </nz-alert>
  <br>
  <nz-table [nzData]="groups" [nzFrontPagination]="false" [nzShowPagination]="false">
    <thead>
    <tr>
      <th>ID</th>
      <th>名字</th>
      <th>简介</th>
      <th>管理员</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let group of groups">
      <td>{{ group.id }}</td>
      <td><a routerLink="/work-group/{{group.id}}">{{ group.name }}</a></td>
      <td>{{ group.desc }}</td>
      <td>{{ group.admin }}</td>
      <td>
        <a (click)="listUsers.showModal(group)">查看用户</a>
      </td>
    </tr>
    </tbody>
  </nz-table>
  <br>
  <nz-divider nzText="邀请你加入的组"></nz-divider>
  <nz-table [nzData]="forcheck" [nzFrontPagination]="false" [nzShowPagination]="false">
    <thead>
    <tr>
      <th>ID</th>
      <th>名字</th>
      <th>简介</th>
      <th>管理员</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let group of forcheck">
      <td>{{ group.id }}</td>
      <td>{{ group.name }}</td>
      <td>{{ group.desc }}</td>
      <td>{{ group.admin }}</td>
      <td>
        <a nz-button nzType="link" (click)="checkin(group)">加入</a>
        <a nz-button nzType="link" (click)="ignore(group)">忽略</a>
      </td>
    </tr>
    </tbody>
  </nz-table>
</nz-card>
<app-create-group (refresh)="search()"></app-create-group>
<app-list-users></app-list-users>
