<nz-modal [(nzVisible)]="isVisible" nzTitle="{{'Group user list' | translate}}" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" nzWidth="1024">
  <div nz-row [nzGutter]="8">
    <div nz-col [nzSpan]="8" style="margin-top:10px;">
      <nz-input-group nzSearch nzSize="smale" [nzAddOnAfter]="suffixButton" *ngIf="group.admin_id === me.id">
        <input type="text" nz-input placeholder="{{'invite users' | translate}}" [(ngModel)]="username"/>
      </nz-input-group>
      <ng-template #suffixButton>
        <button nz-button nzType="primary" nzSize="smale" nzSearch (click)="addUser()">{{'invite' | translate}}</button>
      </ng-template>
    </div>
  </div>
  <br>
  <nz-table [nzData]="users" [nzFrontPagination]="false" [nzShowPagination]="false">
    <thead>
    <tr>
      <th>{{'ID' | translate}}</th>
      <th>{{'username' | translate}}</th>
      <th>{{'Email' | translate}}</th>
      <th>{{'Action' | translate}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.email }}</td>
      <td>
        <a (click)="removeusername=user.username;alertRemove=true;" *ngIf="group.admin_id === me.id && user.id !== me.id">{{'Remove' | translate}}</a>
        <a (click)="alertCheckout= true;" *ngIf="user.id === me.id">{{'Exit' | translate}}</a>
      </td>
    </tr>
    </tbody>
  </nz-table>
</nz-modal>
<nz-modal nzTitle="{{'Exit warning' | translate}}" [(nzVisible)]="alertCheckout" (nzOnCancel)="alertCheckout=false;" (nzOnOk)="alertCheckout=false;checkout();">
  <nz-result nzStatus="warning" nzTitle="{{'Are you sure you want to exit the group?' | translate}}">
    <div nz-result-extra>
      {{'After exiting, you will not be able to share tasks with group members, and you will lose access to the homepage for each other!' | translate}}
    </div>
  </nz-result>
</nz-modal>

<nz-modal nzTitle="Remove warning" [(nzVisible)]="alertRemove" (nzOnCancel)="alertRemove=false;" (nzOnOk)="alertRemove=false;removeUser(removeusername);">
  <nz-result nzStatus="warning" [nzTitle]="removeTitle">
    <ng-template #removeTitle>
      <div [translate]="'Are you sure you want to remove the group member?'" [translateParams]="{username: removeusername}"></div>
    </ng-template>
    <div nz-result-extra>
      {{'After removing, he or she will not be able to share tasks with group members, and you will lose access to his or her homepage!' | translate}}
    </div>
  </nz-result>
</nz-modal>
