<app-create-task *ngIf="user.id !== 0"></app-create-task>
<nz-layout class="app-layout" >
  <nz-sider *ngIf="user.id !== 0" class="menu-sidebar"
            nzCollapsible
            nzWidth="180px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://koala.mkzilla.com/" target="_blank">
        <strong style="margin-left: 15px;font-size: xx-large;color: aliceblue;">koala</strong>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item >
            <a routerLink="/">Home</a>
          </li>
          <li nz-menu-item>
            <a routerLink="/homepage/{{user.username}}" [queryParams]="{idx: 0}">个人中心</a>
          </li>
          <li nz-menu-item>
            <a routerLink="/dashboard">看板</a>
          </li>
          <li nz-menu-item>
            <a routerLink="/weekly">周报</a>
          </li>
          <li nz-menu-item>
            <a routerLink="/work-group">小组</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="管理" nzIcon="solution" *ngIf="user.is_admin">
        <ul>
          <li nz-menu-item>
            <a routerLink="/users-manage">用户管理</a>
          </li>
          <li nz-menu-item>
            <a routerLink="/statistics">统计报表</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header *ngIf="user.id !== 0">
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
        <span style="float: right;padding-right: 40px;font-size: large;">
          <a routerLink="/homepage/{{user.username}}" [queryParams]="{idx: 0}"><i nz-icon nzType="user"></i>  {{user.nickname}}</a>
        </span>
        <span class="header-trigger" (click)="createTask.showModal()">
          <button nz-button nzType="primary"><i nz-icon nzType="form" nzTheme="outline"></i>创建任务</button>
        </span>
        <span class="header-trigger" *ngIf="technique.id === 0" (click)="createTechnique()">
          <button nz-button nzType="primary"><i nz-icon nzType="branches" nzTheme="outline"></i>创建番茄</button>
        </span>
        <span class="header-trigger" *ngIf="technique.id !== 0"(click)="checkTechnique()">
          <button nz-button nzType="primary"><i nz-icon nzType="clock-circle" nzTheme="outline" nzSpin="true"></i>{{counter}}</button>
        </span>
      </div>
    </nz-header>
    <nz-content style="margin: 24px;">
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
<app-give-up-technique *ngIf="user.id !== 0" (refresh)="pullTechnique()"></app-give-up-technique>
<app-technique *ngIf="user.id !== 0" (refresh)="pullTechnique()"></app-technique>
<video *ngIf="user.id !== 0" #rain preload="metadata" playsinline muted loop style="display: none">
  <source src="assets/media/rain.mp4" type="video/mp4" />
</video>
