<nz-modal [(nzVisible)]="isVisible" nzTitle="{{'Create a new task' | translate}}" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" nzWidth="75%">
  <nz-input-group [nzSuffix]="suffixTemplate">
    <input type="text" nz-input [(ngModel)]="task.title" placeholder="{{'Please describe the title of the task concisely' | translate}}" />
  </nz-input-group>
  <ng-template #suffixTemplate>
    <i
    nz-icon
    nz-tooltip
    class="ant-input-clear-icon"
    nzTheme="fill"
    nzType="close-circle"
    *ngIf="task.title"
    (click)="task.title = ''"
    ></i>
  </ng-template>
  <div nz-row nzType="flex" style="margin-top: 10px;">
    <nz-form-label [nzNoColon]="false" [nzSpan]="3">{{'importance' | translate}}</nz-form-label>
    <div nz-col [nzSpan]="3">
      <nz-slider [(ngModel)]="task.importance" [nzMin]="1" [nzMax]="5"></nz-slider>
    </div>
    <nz-form-label [nzNoColon]="false" [nzSpan]="3">{{'priority' | translate}}</nz-form-label>
    <div nz-col [nzSpan]="3">
      <nz-slider [(ngModel)]="task.priority" [nzMin]="1" [nzMax]="5"></nz-slider>
    </div>
    <div nz-col [nzSpan]="3">
      <nz-select [(ngModel)]="task.state" nzPlaceHolder="Choose">
        <nz-option [nzValue]=0 nzLabel="{{'no progress' | translate}}"></nz-option>
        <nz-option [nzValue]=1 nzLabel="{{'will start' | translate}}"></nz-option>
        <nz-option [nzValue]=2 nzLabel="{{'doing' | translate}}"></nz-option>
        <nz-option [nzValue]=3 nzLabel="{{'done' | translate}}"></nz-option>
        <nz-option [nzValue]=4 nzLabel="{{'cancel' | translate}}"></nz-option>
        <nz-option [nzValue]=5 nzLabel="{{'pause' | translate}}"></nz-option>
      </nz-select>
    </div>
  </div>
  <quill-editor [(ngModel)]="task.desc" placeholder="{{'Adding detailed task introductions helps teams and individuals to review, adding enough details is good work and study habits' | translate}}" format="html" theme="snow" [styles]="{height: '250px'}">
    <div quill-editor-toolbar>
      <span class="ql-formats">
        <select class="ql-font"></select>
        <select class="ql-size"></select>
      </span>
      <span class="ql-formats">
        <button class="ql-bold"></button>
        <button class="ql-italic"></button>
        <button class="ql-underline"></button>
        <button class="ql-strike"></button>
      </span>
      <span class="ql-formats">
        <select class="ql-color"></select>
        <select class="ql-background"></select>
      </span>
      <span class="ql-formats">
        <button class="ql-script" value="sub"></button>
        <button class="ql-script" value="super"></button>
      </span>
      <span class="ql-formats">
        <button class="ql-header" value="1"></button>
        <button class="ql-header" value="2"></button>
        <button class="ql-blockquote"></button>
        <button class="ql-code-block"></button>
      </span>
      <span class="ql-formats">
        <button class="ql-list" value="ordered"></button>
        <button class="ql-list" value="bullet"></button>
        <button class="ql-indent" value="-1"></button>
        <button class="ql-indent" value="+1"></button>
      </span>
      <span class="ql-formats">
        <button class="ql-direction" value="rtl"></button>
        <select class="ql-align"></select>
      </span>
      <span class="ql-formats">
        <button class="ql-link"></button>
        <button class="ql-video"></button>
        <button class="ql-formula"></button>
      </span>
      <span class="ql-formats">
        <button class="ql-clean"></button>
      </span>
    </div>
  </quill-editor>
</nz-modal>
