name: Go
on: [push]
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.13
      uses: actions/setup-go@v1
      with:
        go-version: 1.13
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v1
    - name: Build
      run: GOOS=linux GOARCH=amd64 go build -o koala ./pkg/cmd/
    - name: Build the Docker image
      run: docker build . --file Dockerfile.apiserver --tag chengtian/koala-apiserver:tmp
    - name: Docker Login
      run: echo ${{ secrets.DOCKERHUB_PASSWORD }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin
    - name: Push the docker image
      run: export v=$(date +%s) && docker tag chengtian/koala-apiserver:tmp chengtian/koala-apiserver:alpha-$v && docker push chengtian/koala-apiserver:alpha-$v
